#footer {
    margin-top: 30px;
    background-color: darken($darkblue, 20%);

    @include make-breakpoint(md) {
        position: fixed;
        bottom: 0;
    };
    width: 100%;
    padding: 20px 0;

    .left {
        float: left;
        text-align: center;
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-breakpoint(sm) {
            text-align: left;
        };
    }

    .right {
        float: right;
        text-align: center;
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-breakpoint(sm) {
            text-align: right;
        };
    }

    p,a {
        color: $grey;
        font-size: 12px;
    }
    a:hover{
        text-decoration: none;
        color: $blue;
    }
}
