/*
|--------------------------------------------------------------------------
| Variables
|--------------------------------------------------------------------------
|
*/

$white: #FFFFFF;
$black: #000000;
$grey: #9ba3af;
$grey2: #8a95a5;

$darkblue: #354052;
$midblue: #6f7d95;

$lightblue: #a1acbf;
$lightgreen: #ebf1f5;

$green: #47bac1;
$blue: #15a4fa;
$purple: #ae69af;
